/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0; /* Gris clair */
    color: #333; /* Gris foncé pour le texte */
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3 {
    font-family: 'Helvetica', sans-serif;
    color: #FFD700; /* Jaune pour les titres */
  }
  
  /* Header */
  .header {
    background-color: #242424; /* Noir */
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .header h1 {
    font-size: 2.5em;
  }
  
  /* Home Section */
  .home {
    text-align: center;
    padding: 40px;
  }
  
  .home h1 {
    font-size: 3em;
    color: #FFD700; /* Jaune */
  }
  
  .home p {
    font-size: 1.5em;
    color: #808080; /* Gris */
    margin: 20px 0;
  }
  
  /* Buttons */
  button {
    background-color: #FFD700; /* Jaune */
    border: none;
    color: black;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #ffcc00; /* Jaune foncé */
  }
  
  /* Footer */
  .footer {
    background-color: #242424; /* Noir */
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .footer p {
    font-size: 1em;
    color: #808080; /* Gris */
  }
  