.admin-comments-container {
    padding: 2rem;
  }
  
  .comments-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .comments-table th,
  .comments-table td {
    border: 1px solid #ccc;
    padding: 0.8rem;
    text-align: left;
  }
  
  .comments-table th {
    background-color: #c0ae0e;
  }
  
  .comments-table td button {
    margin-right: 0.5rem;
    cursor: pointer;
  }
  